* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #282938;
  background-color: #c9c9c9;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 120%;
  font-weight: 50;
}
.main__grid {
  background-color: #c9c9c9;
  display: grid;
  grid-template-areas: 
  "logoynav logoynav"
  "carousel carousel"
  "tituloestrenos publicidad"
  "peli01 servicios"
  "peli02 servicios";
  grid-template-rows: 214px 226px 179px 357px 276px;
  grid-template-columns: 1103px 902px;
  gap: 40px;
  /* padding: 30px; */
  justify-items: center;
}
.main__header__nav {
  background-color: #000000;
  text-align: right;
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  word-spacing: 13px;
  width: 100%;
  height: 110px;
  /* margin-left: 0px; */
  /* margin-top: -30px; */
  /* padding-bottom: 0px; */
  /* padding-top: 40px; */
  background-image: url(../img/Bannercinemasf.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 18px;
  grid-area: logoynav;
}

.main__header__ul {
  text-align: end;
  margin: 5px;
  padding: 17px;
}
.main__header__ul li {
  display: inline-block;
  padding: 5px;
  border: 2px solid #c9c9c9;
  border-radius: 50px;
}

.titulo__estrenos {
  background-color: rgb(104, 17, 0);
  color: #c9c9c9;
  background-image: url(../img/Logoh1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: start;
  position: static;
  text-align: center;
  display: block;
  font-size: 30px;
  height: 100px;
  position: static;
  grid-area: tituloestrenos;
}

.div__publicidad {
  grid-area: publicidad;
}

.div__nope {
  grid-area: peli01;
}

.div__spiderman {
  grid-area: peli02;
}

.div__servicios {
  grid-area: servicios;
}

.section__estrenos {
  background-color: #c9c9c9;
  margin-top: 34px;
  /* margin-bottom: -10px; */
  padding-top: 82px;
  padding-bottom: 50px;
  margin-left: 0px;
  /* margin-right: -73px; */
  padding-left: 0px;
  padding-right: 0px;
  position: static;
}

.section__publiservicios {
  margin-top: 32px;
  /* margin-bottom: -10px; */
  padding-top: 107px;
  padding-bottom: 50px;
  margin-left: 80px;
  /* margin-right: -10px; */
  padding-left: 12px;
  padding-right: 7px;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text__nope {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  font-size: large;
}
.text__spiderman {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  font-size: large;
}
/* inicio nosotros */
.nosotros__main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  font-size: 28px;
  background-color: #c9c9c9;
}
/* fin nosotros */
.texto__servicios {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  font-size: large;
  background-color: #c9c9c9;
}
.main__footer {
  background-color: #080303;
  /* padding-top: 0px; */
  /* margin-top: 0px; */
  margin-bottom: -85px;
  /* padding-bottom: 0px; */
}
.img__footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #080303;
  color: #c9c9c9;
  font-size: x-large;
  text-align: right;
  padding: 141px;
  margin: 84px;
  /* border: 0px; */
  position: relative;
  /* top: -84px; */
  left: 83px;
}
.img__footer img {
  padding: 55px;
  margin: -167px;
  border: 0px solid black;
  position: absolute;
  width: min-content;
  height: min-content;
  top: 167px;
  left: -64px;
  background-color: #080303;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 320%;
}
/* arranca contactos */
.contacto__form {
  background-color: #c9c9c9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* termina contactos */
